body{
    background-color: black;
    height:100vh;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.container{
    color: rgb(255, 239, 239);
    background: rgb(85, 84, 84);
    border-radius: 30px;
    width: 70%;
}

img{
    width: 400px;
    height: 400px;
    align-items: center;
    border-radius: 50%;
}